In [22]:
import pandas as pd
from pathlib import Path

In [23]:
t100_acs = pd.read_csv("../additional_data/T100_data/L_AIRCRAFT_TYPE.csv")

challenge_data = []
challenge_data.append(pd.read_csv("../data/challenge_set.csv"))
challenge_data.append(pd.read_csv("../data/submission_set.csv"))
if Path("../data/final_submission_set.csv").exists():
    challenge_data.append(pd.read_csv("../data/final_submission_set.csv"))
challenge_data = pd.concat(challenge_data)

In [24]:
challenge_data.aircraft_type.value_counts()

aircraft_type
A320    102807
A20N     48875
B738     48404
A321     37699
E195     31940
A21N     29825
CRJ9     29568
A319     22596
A333     21872
B38M     15760
BCS3     15393
B77W     11773
B772     10670
AT76      8869
B788      7673
B789      7410
BCS1      6086
B737      4681
A332      2882
E190      2719
B739      2315
A359      2263
B763      1535
B39M       698
A343       641
B752         9
E290         3
B773         3
A310         2
C56X         1
Name: count, dtype: int64

In [25]:
"""
A320: 694
A20N: 722
B738: 614
A321  699, 
E195  748,
A21N  721
CRJ9  638 (nur Candair)
A319  698
A333   687
B38M   838 (Max 800?)
BCS3   724, 
B77W   637
B772:  627
AT76   442 (Aerospatiale/Aeritalia ATR-72)
B788   887
B789   889
BCS1   720
B737   612
A332   696, 343 (A330-200 + A330-223/234)
E190   678
B739   634, 888 (ER)
A359   359
B763   626
B39M   839 (Max 900?)
A343   871
B752   622
E290   678 (Embraer E190-E2 nicht vorhanden => E190 mit geringerem Kraftstoffverbrauch)
B773   637
A310   692, 693
C56X   646 (nicht vorhanden: https://de.wikipedia.org/wiki/Cessna_Citation_Excel)
"""

'\nA320: 694\nA20N: 722\nB738: 614\nA321  699, \nE195  748,\nA21N  721\nCRJ9  638 (nur Candair)\nA319  698\nA333   687\nB38M   838 (Max 800?)\nBCS3   724, \nB77W   637\nB772:  627\nAT76   442 (Aerospatiale/Aeritalia ATR-72)\nB788   887\nB789   889\nBCS1   720\nB737   612\nA332   696, 343 (A330-200 + A330-223/234)\nE190   678\nB739   634, 888 (ER)\nA359   359\nB763   626\nB39M   839 (Max 900?)\nA343   871\nB752   622\nE290   678 (Embraer E190-E2 nicht vorhanden => E190 mit geringerem Kraftstoffverbrauch)\nB773   637\nA310   692, 693\nC56X   646 (nicht vorhanden: https://de.wikipedia.org/wiki/Cessna_Citation_Excel)\n'

In [26]:
challenge_data.aircraft_type.value_counts(normalize=True) * 100 # Top 20 Airlines = 98 %

aircraft_type
A320    21.644855
A20N    10.290080
B738    10.190917
A321     7.937099
E195     6.724607
A21N     6.279318
CRJ9     6.225209
A319     4.757333
A333     4.604903
B38M     3.318090
BCS3     3.240823
B77W     2.478672
B772     2.246448
AT76     1.867268
B788     1.615464
B789     1.560092
BCS1     1.281339
B737     0.985532
A332     0.606773
E190     0.572455
B739     0.487397
A359     0.476449
B763     0.323177
B39M     0.146956
A343     0.134955
B752     0.001895
E290     0.000632
B773     0.000632
A310     0.000421
C56X     0.000211
Name: proportion, dtype: float64

In [34]:
challenge_data["country_code_ades"].value_counts(normalize=True) * 100

country_code_ades
TR    11.187607
GB     8.393126
AT     8.014999
DE     7.996471
CH     6.808822
        ...
AO     0.000211
CU     0.000211
RW     0.000211
UA     0.000211
AM     0.000211
Name: proportion, Length: 82, dtype: float64

In [35]:
challenge_data

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248763780,2022-01-01,3840d84f25d3f5fcc0a1be3076bb4039,EGLL,London Heathrow,GB,EICK,Cork,IE,2022-01-01T13:46:00Z,2022-01-01T15:04:56Z,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.000000
1,248760618,2022-01-01,f6f610e73002b8892a239a81321f7f1d,LEBL,Barcelona,ES,KMIA,Miami,US,2022-01-01T09:55:00Z,2022-01-01T19:37:56Z,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,4193,185441.000000
2,248753824,2022-01-01,139670936660762c230ca92556ba842b,ESSA,Stockholm Arlanda,SE,KORD,Chicago O'Hare,US,2022-01-01T09:39:00Z,2022-01-01T19:08:13Z,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,3770,230396.000000
3,248753852,2022-01-01,509dc61bb54fbab0e5406067c95603e2,LSZH,Zurich,CH,KPHL,Philadelphia,US,2022-01-01T11:04:00Z,2022-01-01T19:32:13Z,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,3607,157615.000000
4,248755934,2022-01-01,d0610d000dcf26b1d7bba8103ecc393d,EIDW,Dublin,IE,EGLL,London Heathrow,GB,2022-01-01T12:36:00Z,2022-01-01T13:44:32Z,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,305,70318.447226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,2022-12-31,2d3b4446c4d05a25196a9d52cab936fb,LTFJ,Istanbul Sabiha Gokcen,TR,EKCH,Copenhagen,DK,2022-12-31T09:36:00Z,2022-12-31T13:12:17Z,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,1199,NaN
105955,258068609,2022-12-31,253fd692ed441fac523081471c067772,LOWW,Vienna,AT,KIAD,Washington Dulles,US,2022-12-31T09:49:00Z,2022-12-31T19:38:26Z,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,3937,NaN
105956,258068876,2022-12-31,c9fca302ca2e28acab0eb0bb1b46f11b,LTFM,iGA Istanbul,TR,LSZH,Zurich,CH,2022-12-31T09:25:00Z,2022-12-31T12:24:24Z,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,NaN
105957,258064675,2022-12-31,00f96ad0e382476649574ba044c764fc,EHAM,Amsterdam,NL,EDDF,Frankfurt,DE,2022-12-31T10:04:21Z,2022-12-31T10:55:35Z,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,NaN
105958,258058370,2022-12-31,5f0c222c7f7ceff3fbe75c854cce74c9,UBBB,Baku,AZ,LTFM,iGA Istanbul,TR,2022-12-31T09:40:00Z,2022-12-31T12:28:00Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,NaN

In [ ]:
import pandas as pd
import numpy as np

def calculate_typical_values(route, aircraft_type):
    data = pd.read
    # Filter data for the specific route and aircraft type
    filtered_data = data[(data['origin'] == route[0]) & 
                         (data['destination'] == route[1]) & 
                         (data['aircraft_type'] == aircraft_type)]
    
    # Function to remove outliers using IQR method
    def remove_outliers(series):
        Q1 = series.quantile(0.25)
        Q3 = series.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        return series[(series >= lower_bound) & (series <= upper_bound)]
    
    # Calculate typical load factor
    load_factors = remove_outliers(filtered_data['load_factor'])
    typical_load_factor = load_factors.mean()
    
    # Calculate typical payload
    payloads = remove_outliers(filtered_data['payload'])
    typical_payload = payloads.mean()
    
    return typical_load_factor, typical_payload


typical_load_factor, typical_payload = calculate_typical_values(challenge_data, route, aircraft_type)

print(f"Typical Load Factor: {typical_load_factor:.2f}")
print(f"Typical Payload: {typical_payload:.2f}")